body {
    background-color: #F5DEB3;
    font-family: 'Raleway', sans-serif;
}
.page {
    display: flex;
    flex-direction: column;
    
}

header {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
}
video {
    padding: 20px;
}
#page-title {
    font-size: 1.2rem;
    text-align: center;
    color:#800000;
    padding: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container img {
    width: 33%;
    /*padding: 10px;*/
    box-sizing: border-box;
}

.animal {
    border: .4rem solid #F5DEB3;
    border-radius: .5rem;
    transition: all 0.5s ease;
    box-sizing: border-box;
}

.playing {
    transform: scale(1.2);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

@media screen and (max-width: 992px) {
    #left-video {
        display: none;
    }
  }
@media screen and (max-width: 600px){
    header {
        flex-direction: column;
    }
    #right-video {
        display: none;
    }
    
    .container {
        flex-direction: column;
    }
    .container img {
        width: 100%;
    }

    .playing {
        transform: scale(0.8);
        border-color: #ffc600;
        box-shadow: 0 0 1rem #ffc600;
    }
}